<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>47841719219-fthpaiaiiit4hjcv5475dme144rvpun0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzjY7B7YiYEhQHZICMOvKMFAQGm_u3uSs</string>
	<key>GCM_SENDER_ID</key>
	<string>47841719219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mystore.store</string>
	<key>PROJECT_ID</key>
	<string>elishaswell</string>
	<key>STORAGE_BUCKET</key>
	<string>elishaswell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47841719219:ios:89489aed50691a5e9611c6</string>
	<key>DATABASE_URL</key>
	<string>https://elishaswell-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>